// Colors Primary
$primary-color:     rgb(19, 19, 60);
$highlight-color:   rgb(101, 203, 228);
$secondary-color:   rgb(95, 241, 189);

// Secondary Colors
$gray:    rgb(198, 200, 201);
$sea:     rgb(60, 92, 99);
$cream:   rgb(235, 230, 217);
$slate:   rgb(74, 83, 92);
