.panel-default>.panel-heading {
    color: #FFF;
    background-color: $primary-color;
    border-color: $primary-color;
}

.panel-default {border-color: #0E3058;}
.form-control {border: 1px solid $gray}
